body {
    background-color: rgba(0, 255, 191, 0.199);
}

h1 {
    color: rgb(255, 196, 0);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

p {
    color: black;
    text-align: left;
    line-height: 1.6;
}

form {
    margin-top: 20px
}